body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f6f9f7;
  color: #333;
}

header {
  background-color: #2e7d32;
  color: white;
  text-align: center;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

header h1 {
  margin: 0;
  font-size: 1.8em;
}

header p {
  margin: 5px 0 0;
  font-size: 0.9em;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 15px;
}

#controls {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.img-header{
    width: 150px;
}

select,
button {
  padding: 8px 12px;
  margin: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  background-color: #43a047;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #388e3c;
}

#status {
  font-size: 14px;
  color: #555;
}

#map {
  height: 70vh;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

#resultado {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  padding: 10px;
}

footer {
  text-align: center;
  font-size: 12px;
  color: #777;
  padding: 10px;
  margin-top: 10px;
}
